{% extends 'base.html' %}{% load static %} {% load i18n %} {% block content %}

{% include 'components/page-header.html' %}


<div class="clickable-tabs container">
    <div class="tab" data-tab="our-history">
        <h2 class="section-title">Our History</h2>
        <button><i class="fa-solid fa-arrow-down-long"></i></button>
    </div>
    <div class="tab" data-tab="vission-mission">
        <h2 class="section-title">Vision, Mission & Values</h2>
        <button><i class="fa-solid fa-arrow-down-long"></i></button>
    </div>
    <div class="tab" data-tab="policies">
        <h2 class="section-title">Policies</h2>
        <button><i class="fa-solid fa-arrow-down-long"></i></button>
    </div>

</div>



<section class="sinova-production ">
    <div class="container">
        <div class="production-section ">
            <div class="section-background"></div>
            <div class="play-button" id="playButton">
                <i>►</i>
            </div>
            <div class="video-container" id="videoContainer">
                <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/7NdBMqxDMrE?rel=0&showinfo=0&modestbranding=1"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="production-subtitle">
            <p>{% trans "Our corporate profile movie" %}</p>
        </div>
    </div>
</section>


<section class="section-our-history container" id="our-history">
    <div class="section-header ">
        <h2 class="section-title">{% trans "Our History" %}</h2>
        <p class="section-description">Sinova Group is a global enterprise, headquartered in Switzerland, comprising
            companies across several verticals. The Group was established by bringing together companies with 15 years
            of experience in investment, technology, logistics, and manufacturing under a single umbrella.</p>
    </div>

    <div class="two-images">
        <img src="{% static 'images/gallery1.png' %}" alt="History Image 1">
        <img src="{% static 'images/gallery2.jpg' %}" alt="History Image 2">
    </div>

    <p class="section-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet dolores itaque
        deserunt, distinctio saepe ullam consectetur molestias neque assumenda iste incidunt natus dolorum mollitia sunt
        ipsa explicabo quo. Voluptas, omnis!
    </p>


    <div class="two-images reverse">
        <img src="{% static 'images/gallery1.png' %}" alt="History Image 3">
        <img src="{% static 'images/gallery2.jpg' %}" alt="History Image 4">
    </div>
</section>


<section class="section-vision-mission container" id="vission-mission">
    <div class="section-header">
        <h2 class="section-title">{% trans "Mission, Vision & Values" %}</h2>
    </div>

    <div class="image-text-content">
        <img src="{% static 'images/mission.png' %}" alt="Mission Image ">

        <div class="text-content">
            <h3 class="section-subtitle">
                {% trans "Our mission" %}
            </h3>
            <p class="section-description">
                Deliver innovative experiences to our customers through creative products and service excellence.
                Contribute meaningfully to the sustainable development of society.
                Uphold sincerity and trust in all our business conduct.

            </p>
        </div>

    </div>


    <div class="image-text-content reverse">
        <img src="{% static 'images/mission.png' %}" alt="Mission Image ">

        <div class="text-content">
            <h3 class="section-subtitle">
                {% trans "Our vision" %}
            </h3>
            <p class="section-description">
                Deliver innovative experiences to our customers through creative products and service excellence.
                Contribute meaningfully to the sustainable development of society.
                Uphold sincerity and trust in all our business conduct.

            </p>
        </div>

    </div>

    <div class="image-text-content ">
        <img src="{% static 'images/mission.png' %}" alt="Mission Image ">
        <div class="text-content">
            <h3 class="section-subtitle">
                {% trans "Our values" %}
            </h3>
            <p class="section-description">
                Deliver innovative experiences to our customers through creative products and service excellence.
                Contribute meaningfully to the sustainable development of society.
                Uphold sincerity and trust in all our business conduct.

            </p>
        </div>
    </div>

    <div class="text-container">
        <h4 class="section-subtitle">
            <i class="fa-solid fa-circle"></i>
            Excellence
        </h4>
        <p class="section-description">
            We are driven by a passion for the highest standards in quality, constantly promoting merit-based
            achievements.
        </p>

        <h4 class="section-subtitle">
            <i class="fa-solid fa-circle"></i>
            Unity
        </h4>
        <p class="section-description">
            We are driven by a passion for the highest standards in quality, constantly promoting merit-based
            achievements.
        </p>
    </div>

    <div class="image-container">
        <img src="{% static 'images/gallery1.png' %}" alt="Mission Vision Image">
    </div>

</section>

<section class="section-policies container" id="policies">
    <div class="section-header">
        <h2 class="section-title"> {% trans "Policies" %}
        </h2>

        <p class="section-description">
            policies description
        </p>
    </div>
</section>

<!--SUBSCRIBE SECTION -->
{% include 'components/subscribe.html' %}



{% endblock %}