{% load static %} {% load i18n %}

<!DOCTYPE html>
<html lang="{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}">

<head>
  <title>{% block title %}{% trans "Sinova Group – Strategic Investments in Finance & Tech" %}{% endblock %}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="{% block description %}{% trans 'Sinova Group is a Swiss-based holding active in finance, logistics, technology, and production. Driving innovation, sustainability, and global growth.' %}{% endblock %}">
  <meta name="keywords"
    content="{% block keywords %}{% trans 'Sinova Group, investments, holding, Switzerland, finance, logistics, technology, production, sustainability, ESG, innovation, global growth' %}{% endblock %}">
  <meta name="robots" content="index, follow">
  <meta property="og:title" content="{% trans 'Sinova Group – Strategic Investments in Finance & Tech' %}">
  <meta property="og:type" content="website">
  <meta property="og:description"
    content="{% trans 'Sinova Group is a Swiss-based holding active in finance, logistics, technology, and production. Driving innovation, sustainability, and global growth.' %}">
  <meta property="og:image" content="https://sinovagroup.ch/static/images/sinova-logo.webp">
  <meta property="og:url" content="https://sinovagroup.ch{{ request.path }}">
  <meta name="ahrefs-site-verification" content="9e4cf268be7fc6c2b3be9598e3c023ec7ab0e3f8a6e5ac6884bf3d6fa032897c">
  <meta name="google-site-verification" content="9g-xrNt3jcp_P1xbfbLZ26O9-MWBSoUxwvze7FQRasI" />
  <meta name="msvalidate.01" content="91C3B398DE92AC84DB8733389F9B025C" />
  <link rel="canonical" href="https://sinovagroup.ch{{ request.path }}">
  <link rel="icon" type="image/webp" href="https://sinovagroup.ch/static/images/icon.webp">
  <link rel="alternate" hreflang="x-default" href="https://sinovagroup.ch/" />
  <link rel="alternate" hreflang="en" href="https://sinovagroup.ch/">
  <link rel="alternate" hreflang="de" href="https://sinovagroup.ch/de/">
  <link rel="alternate" hreflang="es" href="https://sinovagroup.ch/es/">
  <link rel="alternate" hreflang="fr" href="https://sinovagroup.ch/fr/">
  <link rel="alternate" hreflang="it" href="https://sinovagroup.ch/it/">
  <link rel="alternate" hreflang="pt" href="https://sinovagroup.ch/pt/">
  <link rel="alternate" hreflang="zh-hans" href="https://sinovagroup.ch/zh-hans/">
  <link rel="preconnect" href="https://www.googletagmanager.com" crossorigin>
  <link rel="preconnect" href="https://analytics.ahrefs.com" crossorigin>

  <link rel="preload" as="font" href="{% static 'assets/fonts/TTNormsProCompact-Normal.otf' %}" type="font/otf"
    crossorigin="anonymous">
  <link rel="preload" as="font" href="{% static 'assets/fonts/fa-solid-900.woff2' %}" type="font/woff2"
    crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}" />
  {% block page_css %}{% endblock %}
  <link rel="stylesheet" href="{% static 'assets/css/responsive.min.css' %}" />
  
  <script src="https://analytics.ahrefs.com/analytics.js" data-key="h5P70Z03LS8YAmS70Olm9g" async></script>
  <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "Sinova Group",
  "url": "https://sinovagroup.ch",
  "logo": "https://sinovagroup.ch/static/images/sinova-logo.webp",
  "description": "Sinova Group is a Swiss-based holding active in finance, logistics, technology, and production. Driving innovation, sustainability, and global growth.",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Rue du Grand-Pont 18",
    "addressLocality": "Lausanne",
    "postalCode": "1003",
    "addressCountry": "CH"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 46.52199491227568,
    "longitude": 6.629910438034556
  },
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday"
      ],
      "opens": "09:00",
      "closes": "18:00"
    }
  ],
  "sameAs": [
    "https://www.linkedin.com/company/sinova-group",
    "https://www.instagram.com/sinovagroup",
    "https://www.facebook.com/profile.php?id=61578239306541"
  ]
}
  </script>

  {% block extra_schema %}{% endblock %}

</head>

<body>
  {% include 'components/navbar.html' %} {% block content %} {% endblock %}
  {%include 'components/footer.html' %}


  <script>
    var ahrefs_analytics_script = document.createElement('script');
    ahrefs_analytics_script.async = true;
    ahrefs_analytics_script.src = 'https://analytics.ahrefs.com/analytics.js';
    ahrefs_analytics_script.setAttribute('data-key', 'h5P70Z03LS8YAmS70Olm9g');
    document.getElementsByTagName('head')[0].appendChild(ahrefs_analytics_script);
  </script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-7QTK593BWX"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-7QTK593BWX');
  </script>

  <script src="{% static 'assets/js/navbar.min.js' %}" defer></script>
  <script src="{% static 'assets/js/about.min.js' %}" defer></script>

  {% block page_js %}{% endblock %}

</body>

</html>