{% load static %} {% load i18n %}

<!DOCTYPE html>
<html lang="{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}">

<head>
  <title>{% block title %}{% trans "Sinova Group – Strategic Investments in Finance & Tech" %}{% endblock %}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="{% block description %}{% trans 'Sinova Group is a Swiss holding active in finance, logistics, technology, and manufacturing. We drive innovation, sustainability, ESG principles, and global growth through strategic investments.' %}{% endblock %}">
  <meta name="keywords"
    content="{% block keywords %}{% trans 'Sinova Group, strategic investments, finance, logistics, technology, manufacturing, ESG, sustainability, Swiss holding, global growth' %}{% endblock %}">
  <meta property="og:title" content="{% trans 'Sinova Group – Strategic Investments in Finance & Tech' %}">
  <meta property="og:type" content="website">
  <meta property="og:description"
    content="{% trans 'Sinova Group is a Swiss-based holding active in finance, logistics, technology, and production. Driving innovation, sustainability, and global growth.' %}">
  <meta property="og:image" content="https://sinovagroup.ch/static/images/sinova-logo.webp">
  <meta property="og:url" content="https://sinovagroup.ch{{ request.path }}">
  <meta name="google-site-verification" content="9g-xrNt3jcp_P1xbfbLZ26O9-MWBSoUxwvze7FQRasI" />
  <meta name="msvalidate.01" content="91C3B398DE92AC84DB8733389F9B025C" />
  <meta name="robots" content="index, follow" />

    {% with request.path as clean_path %}
  <link rel="canonical" href="https://sinovagroup.ch{{ clean_path }}" />
  {% endwith %}
          
  {% block canonical %}
  {% endblock %}
  <link rel="icon" type="image/webp" href="https://sinovagroup.ch/static/images/icon.webp">
  <link rel="alternate" hreflang="x-default" href="https://sinovagroup.ch/" />
  <link rel="alternate" hreflang="en" href="https://sinovagroup.ch/">
  <link rel="alternate" hreflang="de" href="https://sinovagroup.ch/de/">
  <link rel="alternate" hreflang="es" href="https://sinovagroup.ch/es/">
  <link rel="alternate" hreflang="fr" href="https://sinovagroup.ch/fr/">
  <link rel="alternate" hreflang="it" href="https://sinovagroup.ch/it/">
  <link rel="alternate" hreflang="pt" href="https://sinovagroup.ch/pt/">
  <link rel="alternate" hreflang="zh-hans" href="https://sinovagroup.ch/zh-hans/">
  <link rel="preload" as="font" href="{% static 'assets/fonts/TTNormsProCompact-Normal.otf' %}" type="font/otf"
    crossorigin="anonymous">
  <link rel="preload" as="font" href="{% static 'assets/fonts/fa-solid-900.woff2' %}" type="font/woff2"
    crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}" />
  {% block page_css %}{% endblock %}
  <link rel="stylesheet" href="{% static 'assets/css/responsive.min.css' %}" />
  <link rel="preconnect" href="https://connect.facebook.net">
<link rel="preconnect" href="https://www.facebook.com">

  <script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '761388379578296');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=761388379578296&ev=PageView&noscript=1"
/></noscript>

  <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "Sinova Group",
  "url": "https://sinovagroup.ch",
  "logo": "https://sinovagroup.ch/static/images/sinova-logo.webp",
  "description": "Sinova Group is a Swiss-based holding active in finance, logistics, technology, and production. Driving innovation, sustainability, and global growth.",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Rue du Grand-Pont 18",
    "addressLocality": "Lausanne",
    "postalCode": "1003",
    "addressCountry": "CH"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 46.52199491227568,
    "longitude": 6.629910438034556
  },
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday"
      ],
      "opens": "09:00",
      "closes": "18:00"
    }
  ],
  "sameAs": [
    "https://www.linkedin.com/company/sinova-group",
    "https://www.instagram.com/sinovagroup",
    "https://www.facebook.com/profile.php?id=61578239306541"
  ]
}
  </script>
  {% block extra_schema %}{% endblock %}

</head>
<body>
  {% include 'components/navbar.html' %} {% block content %} {% endblock %}
  {%include 'components/footer.html' %}

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-7QTK593BWX"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-7QTK593BWX');
  </script>

  <script src="{% static 'assets/js/navbar.min.js' %}" defer></script>
  <script src="{% static 'assets/js/about.min.js' %}" defer></script>

  {% block page_js %}{% endblock %}

</body>

</html>