{% extends 'base.html' %}{% load static %} {% load i18n %}

{% block title %}{% trans "Businesses" %}{% endblock %}


{% block content %}
{% include 'components/page-header.html' %}


<div class="container">
  <div class="businesses-section-header">
    <p>{% blocktrans %} business_header_text {% endblocktrans %}</p>
  </div>
</div>

<div class="clickable-tabs container">
  {% for category in categories %}
  <div class="tab" data-slug="{{ category.slug }}">
    <h2 class="section-title">{{ category.title }}</h2>
    <button><i class="fa-solid fa-arrow-down-long"></i></button>
  </div>
  {% endfor %}
</div>

{% for category in categories %}
<section class="businesses container" id="{{ category.slug }}">
  <div class="two-images {% cycle '' 'reverse' %}">
    {% if category.main_image %}
    <img src="{{ category.main_image.url }}" alt="{{ category.title }}" />
    {% endif %} {% if category.secondary_image %}
    <img src="{{ category.secondary_image.url }}" alt="{{ category.title }}" />
    {% endif %}
  </div>

  <div class="section-header">
    <h2 class="section-title">{{ category.title }}</h2>
    <p class="section-description">{{ category.description }}</p>
  </div>

  <div class="text-container">
    {% for feature in category.features.all %}
    <h4 class="section-subtitle">
      <i class="fa-solid fa-circle"></i>
      {{ feature.title }}
    </h4>
    {% endfor %}
  </div>
</section>
{% endfor %}

<!--SUBSCRIBE SECTION -->
{% include 'components/subscribe.html' %} {% endblock %}
