{% extends 'base.html' %} {% load static %} {% load i18n %}


{% block title %}{{ _("meta_title_home")|truncatechars:60 }}{% endblock %}
{% block description %}{{ _("meta_description_home")|truncatechars:160 }}{% endblock %}
{% block keywords %}{% trans "home_keywords" %}{% endblock %}


{% block page_css %}
  <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/home.css' %}" />
{% endblock %}

{% block page_js %}
  <script src="{% static 'assets/js/swiper-bundle.min.js' %}" defer></script>
  <script src="{% static 'assets/js/home.js' %}" defer></script>

{% endblock %}


{% block content %}

<div class="home-header">
  <header class="page-header" {%if header_bg_image %}style="background-image: url('{{ header_bg_image.url }}')"
    {%endif%}>
    <h1 class="section-title">{{ page_title }}</h1>
    <div class="header-content">
      {% if page_description %}
      <p class="section-description">{{ page_description }}</p>
      {% endif %}
    </div>
  </header>
</div>
<!-- GALLERY SECTION -->
<section class="gallery-section">
  <div class="swiper labSwiper">
    <div class="swiper-wrapper">
      {% for image in gallery_images %}
      <div class="swiper-slide">
        <img loading="lazy" src="{{ image.image.url }}" alt="{{ image.gallery.iframe_video_text }}" />
      </div>
      {% empty %} {% endfor %}
    </div>
    <div class="swiper-button-next">
      <i class="fa-solid fa-caret-right"></i>
    </div>
    <div class="swiper-button-prev"><i class="fa-solid fa-caret-left"></i></div>
  </div>
</section>

<!-- NEWS TABS SECTION -->
<section class="home-news-section container">
  <div class="section-header">
    <h2 class="section-title">{% trans "News" %}</h2>
  </div>




  <div class="news-grid">
    {% if large_card_news %}
    <div class="news-card card-large">
      <img loading="lazy" src="{{ large_card_news.main_image.url }}" alt="{{ large_card_news.title }}"
        class="card-image" />
      <div class="card-content">
        <div class="card-meta">
          <div class="card-date">
            <i class="far fa-calendar-alt date-icon"></i>
            {{ large_card_news.date|date:"F j, Y" }}
          </div>
        </div>
        <h3 class="card-title">{{ large_card_news.title }}</h3>
        <p class="card-description"> {{ large_card_news.content|truncatewords:20 }}
        </p>
        <a href="{{ news.get_absolute_url }}" class="read-more" aria-label="Read more about {{ large_card_news.title }}">
          {% trans "Read More" %}
          <i class="fas fa-arrow-right-long read-more-icon"></i>
        </a>
      </div>
    </div>

    {% endif %} {% for news in small_cards_news %}

    <div class="news-card card-small">
      <div class="card-image-container">
        <img loading="lazy" src="{{ news.main_image.url }}" alt="{{ news.title }}" class="card-image" />
      </div>
      <div class="card-content">
        <div class="card-meta">
          <div class="card-date">
            <i class="far fa-calendar-alt date-icon"></i> {{ news.created_at|date:"F j, Y" }}
          </div>
        </div>
        <h3 class="card-title"> {{news.title}} </h3>
        <p class="card-description"> {{ news.content|truncatewords:15 }}
        </p>
        <a href="{{ news.get_absolute_url }}" class="read-more" aria-label="Read more about {{ news.title }}">
          {% trans "Read More" %}
          <i class="fas fa-arrow-right-long read-more-icon"></i>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>

  <button class="news-button">
    <a href="{% url 'news:news_list' %}">{% trans "News list" %} <i class="fa-solid fa-arrow-right-long"></i>
    </a>
  </button>

</section>


<!-- COMPANY SECTION -->
<section class="sections-container">
  {% for content in home_contents %}
  <!-- Section {{ forloop.counter }} -->
  <div class="section-item section-{{ forloop.counter }}">
    <div class="section-background" style="background-image: url('{{ content.image.url }}');"></div>

    <div class="before-content">
      <div class="before-text">
        <h2 class="section-title">{{ content.title }}</h2>
        <p class="section-description">{{ content.description }}</p>
        {% if content.url %}
        <a href="{{ content.url }}" class="section-link" aria-label="Learn more about {{ content.title }}">
          {% trans "Learn more" %}
          <i class="fas fa-arrow-right-long"></i>
        </a>
        {% endif %}
      </div>
    </div>

    <div class="after-content">
      <div class="after-text">
        <h2 class="section-title">{{ content.subtitle }}</h2>
        <p class="section-description">{{ content.subdescription }}</p>
        {% if content.url %}
        <a href="{{ content.url }}" class="section-link" aria-label="Learn more about {{ content.subtitle }}">
          {% trans "Learn more" %}
          <i class="fas fa-arrow-right-long"></i>
        </a>
        {% endif %}
      </div>
    </div>

    <div class="center-icon">
      <i class="fas fa-caret-right"></i>
    </div>
  </div>
  {% empty %} {% endfor %}
</section>

<!-- PICK UP SECTION -->
{% comment %}
<section class="pick-up-section">
  <div class="section-header">
    <h2 class="section-title">{% trans "Pick up" %}</h2>
  </div>

  <div class="pick-up-components container">
    {% for pickup in pickup_items %}
    <a href="{% if pickup.url %}{{ pickup.url }}{% else %}#{% endif %}" class="pick-up-content">
      <img loading="lazy" src="{{ pickup.image.url }}" alt="{{ pickup.title }}" />
      <p class="pick-up-description">{{ pickup.title }}</p>
    </a>
    {% empty %} {% endfor %}
  </div>
</section>
{% endcomment %}

<!--SUBSCRIBE SECTION -->
{% include 'components/subscribe.html' %}

{% endblock %}