{% extends 'base.html' %} {% load static %} {% load i18n %}


{% block title %}{% trans Home" %}{% endblock %}

{% block content %}

<div class="home-header">
  <header class="page-header" {%if header_bg_image %}style="background-image: url('{{ header_bg_image.url }}')"
    {%endif%}>
    <h2 class="section-title">{{ page_title }}</h2>
    <div class="header-content">
      {% if page_description %}
      <p class="section-description">{{ page_description }}</p>
      {% endif %}
    </div>
  </header>
</div>
<!-- GALLERY SECTION -->
<section class="gallery-section">
  <div class="swiper labSwiper">
    <div class="swiper-wrapper">
      {% for image in gallery_images %}
      <div class="swiper-slide">
        <img src="{{ image.image.url }}" alt="{{ image.gallery.iframe_video_text }}" />
      </div>
      {% empty %} {% endfor %}
    </div>
    <div class="swiper-button-next">
      <i class="fa-solid fa-caret-right"></i>
    </div>
    <div class="swiper-button-prev"><i class="fa-solid fa-caret-left"></i></div>
  </div>
</section>

<!-- NEWS TABS SECTION -->
<section class="news-section container">
  <div class="section-header">
    <h2 class="section-title">{% trans "News" %}</h2>
  </div>

  <div class="news-tabs">
    <div class="tab active" data-tab="news-sinova">
      {% trans "What's new" %}
    </div>
    <div class="tab" data-tab="news-releases">{% trans "News releases" %}</div>
    <div class="tab" data-tab="announcements">{% trans "Announcements" %}</div>
  </div>

  <div class="news-content">
    <!-- What's new -->
    <div class="tab-content active" id="news-sinova">
      {% for news in news_new %}
      <div class="news-sinova-content">
        <a href="{{ news.get_absolute_url }}">
          <p class="news-date">
            {{ news.date|date:"M d, Y" }} {% if news.new %}<span>{% trans "New" %}</span>{% endif %}
          </p>
          <p class="section-description">{{ news.title }}</p>
        </a>
      </div>
      {% empty %}
        <p class="section-description">{% trans "No news available" %}</p>
      {% endfor %}
    </div>

    <!-- News releases -->
    <div class="tab-content" id="news-releases">
      {% for news in news_releases %}
      <div class="news-sinova-content">
        <a href="{{ news.get_absolute_url }}">
          <p class="news-date">
            {{ news.date|date:"M d, Y" }} {% if news.new %}<span>{% trans "New" %}</span>{% endif %}
          </p>
          <p class="section-description">{{ news.title }}</p>
        </a>
      </div>
      {% empty %}
        <p class="section-description">
          {% trans "No news releases available" %}
        </p>
      {% endfor %}
    </div>

    <!-- Announcements -->
    <div class="tab-content" id="announcements">
      {% for news in news_announcements %}
      <div class="news-sinova-content">
        <a href="{{ news.get_absolute_url }}">
          <p class="news-date">
            {{ news.date|date:"M d, Y" }} {% if news.new %}<span>{% trans "New" %}</span>{% endif %}
          </p>
          <p class="section-description">{{ news.title }}</p>
        </a>
      </div>
      {% empty %}
        <p class="section-description">
          {% trans "No announcements available" %}
        </p>
      {% endfor %}
    </div>
  </div>

  <button class="news-button">
    <a href="{% url 'news:news_list' %}">{% trans "News list" %} <i class="fa-solid fa-arrow-right-long"></i>
    </a>
  </button>

</section>

<!-- COMPANY SECTION -->
<section class="sections-container">
  {% for content in home_contents %}
  <!-- Section {{ forloop.counter }} -->
  <div class="section-item section-{{ forloop.counter }}">
    <div class="section-background" style="background-image: url('{{ content.image.url }}');"></div>

    <div class="before-content">
      <div class="before-text">
        <h2 class="section-title">{{ content.title }}</h2>
        <p class="section-description">{{ content.description }}</p>
        {% if content.url %}
        <a href="{{ content.url }}" class="section-link">
          {% trans "Learn more" %}
          <i class="fas fa-arrow-right-long"></i>
        </a>
        {% endif %}
      </div>
    </div>

    <div class="after-content">
      <div class="after-text">
        <h2 class="section-title">{{ content.subtitle }}</h2>
        <p class="section-description">{{ content.subdescription }}</p>
        {% if content.url %}
        <a href="{{ content.url }}" class="section-link">
          {% trans "Learn more" %}
          <i class="fas fa-arrow-right-long"></i>
        </a>
        {% endif %}
      </div>
    </div>

    <div class="center-icon">
      <i class="fas fa-caret-right"></i>
    </div>
  </div>
  {% empty %} {% endfor %}
</section>

<!-- PICK UP SECTION -->
<section class="pick-up-section">
  <div class="section-header">
    <h2 class="section-title">{% trans "Pick up" %}</h2>
  </div>

  <div class="pick-up-components container">
    {% for pickup in pickup_items %}
    <a href="{% if pickup.url %}{{ pickup.url }}{% else %}#{% endif %}" class="pick-up-content">
      <img src="{{ pickup.image.url }}" alt="{{ pickup.title }}" />
      <p class="pick-up-description">{{ pickup.title }}</p>
    </a>
    {% empty %} {% endfor %}
  </div>
</section>

<!--SUBSCRIBE SECTION -->
{% include 'components/subscribe.html' %}

{% endblock %}