{% extends 'base.html' %}{% load static %} {% load i18n %}


{% block title %}{% trans "Sustainability" %}{% endblock %}


{% block content %}
{% include 'components/page-header.html' %}

<div class="sustainability-section container">
  <div class="section-header">
    <p class="section-description">{{ sustainability.maincontent }}</p>
  </div>

  <div class="image-text-content">
    {% if sustainability.image_subcontent %}

    <img
      src="{{ sustainability.image_subcontent.url }}"
      alt="Sustainability Sub Image"
    />
    {% endif %} {% if sustainability.subcontent %}
    <div class="text-content">
      <div class="section-description">
        {{ sustainability.subcontent|linebreaks }}
      </div>
    </div>
    {% endif %}
  </div>

  {% if sustainability.image_maincontent %}
  <div class="image-container">
    <img
      src="{{ sustainability.image_maincontent.url }}"
      alt="Sustainability Main Image"
    />
  </div>
  {% endif %} {% if sub_contents %} {% for sub_content in sub_contents %}
  <div class="section-header">
    <h3>{{ sub_content.title }}</h3>
    <p class="section-description">{{ sub_content.content|safe }}</p>
  </div>

  {% if sub_content.image_one and sub_content.image_two %}
  <div class="two-images {% cycle 'reverse' '' %}">
    <img
      src="{{ sub_content.image_one.url }}"
      alt="{{ sub_content.title }} Image 1"
    />
    <img
      src="{{ sub_content.image_two.url }}"
      alt="{{ sub_content.title }} Image 2"
    />
  </div>
  {% elif sub_content.image_one %}
  <div class="image-container">
    <img
      src="{{ sub_content.image_one.url }}"
      alt="{{ sub_content.title }} Image"
    />
  </div>
  {% elif sub_content.image_two %}
  <div class="image-container">
    <img
      src="{{ sub_content.image_two.url }}"
      alt="{{ sub_content.title }} Image"
    />
  </div>
  {% endif %} {% endfor %} {% else %}
  <div></div>
  {% endif %}
</div>

<!--SUBSCRIBE SECTION -->
{% include 'components/subscribe.html' %} {% endblock %}
