{% extends 'base.html' %}{% load static %} {% load i18n %} {% block content %}

<div class="breadcrumb-container">
  <div class="container">
    <div class="breadcrumb">
      <a href="/home">{% trans "Home page" %} </a>
      <span class="current-page"> | {% trans "Media center" %} </span>
    </div>
  </div>
</div>


<section class="sinova-media-center container">
  <div class="media-center-images">
    
    <img src="{% static 'images/gallery1.png' %}" alt="History Image 1">
    <img src="{% static 'images/gallery2.jpg' %}" alt="History Image 2">
    <img src="{% static 'images/gallery1.png' %}" alt="History Image 1">
    <img src="{% static 'images/gallery2.jpg' %}" alt="History Image 2">
    <img src="{% static 'images/gallery1.png' %}" alt="History Image 1">
    <img src="{% static 'images/gallery2.jpg' %}" alt="History Image 2">
    <img src="{% static 'images/gallery1.png' %}" alt="History Image 1">
    <img src="{% static 'images/gallery2.jpg' %}" alt="History Image 2">

  </div>
</section>




<!--SUBSCRIBE SECTION -->
{% include 'components/gallery.html' %}



{% endblock %}