{% load static %} {% load i18n %}

<meta name="csrf-token" content="{{ csrf_token }}" />

<nav>
  <div class="navbar">
    <div class="nav-top container">
      <ul>
        <li>
          <a href="https://maps.app.goo.gl/64bE4wMhMcFG99kc8" target="_blank">
            <img loading="lazy" src="{% static 'images/pin-icon.svg' %}" alt="Sinova Location" />
            <span>{% trans 'Head office' %}</span>
          </a>
        </li>
        <li>
          <a href="{% url 'search:search' %}">
            <img loading="lazy" src="{% static 'images/search-icon.svg' %}" alt="Sinova Search" />
            <span>{% trans 'Search' %}</span>
          </a>
        </li>

        <li>
          <div class="language-dropdown">
            <button class="lang-dropdown-btn">
              {% if LANGUAGE_CODE == 'en' %}EN{% elif LANGUAGE_CODE == 'de'
              %}DE{% elif LANGUAGE_CODE == 'fr' %}FR{% elif LANGUAGE_CODE ==
              'it' %}IT{% elif LANGUAGE_CODE == 'es' %}ES{% elif LANGUAGE_CODE == 'pt' %}PT{% elif LANGUAGE_CODE
              == 'zh-hans' %}汉语{% else %}EN{% endif %}
              <i class="fa-solid fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="languageDropdown">
              <button class="lang-option {% if LANGUAGE_CODE == 'en' %}active{% endif %}" data-lang="en">
                EN
              </button>
              <button class="lang-option {% if LANGUAGE_CODE == 'de' %}active{% endif %}" data-lang="de">
                DE
              </button>
              <button class="lang-option {% if LANGUAGE_CODE == 'fr' %}active{% endif %}" data-lang="fr">
                FR
              </button>
              <button class="lang-option {% if LANGUAGE_CODE == 'it' %}active{% endif %}" data-lang="it">
                IT
              </button>
              <button class="lang-option {% if LANGUAGE_CODE == 'es' %}active{% endif %}" data-lang="es">
                ES
              </button>
              <button class="lang-option {% if LANGUAGE_CODE == 'pt' %}active{% endif %}" data-lang="pt">
                PT
              </button>
              <button class="lang-option {% if LANGUAGE_CODE == 'zh-hans' %}active{% endif %}" data-lang="zh-hans">
                汉语
              </button>
            </div>
          </div>
        </li>


        <li>
          <button class="hamburger" id="hamburger" aria-label="Open mobile menu">
            <i class="fas fa-bars"></i>
          </button>
        </li>


      </ul>
      <a href="{% url 'home:home' %}" class="sinova-logo">
        <img loading="lazy" src="{% static 'images/sinova-logo.webp' %}" alt="Sinova Logo" />
      </a>
    </div>

    <div class="nav-bottom">
      <ul>
        <li>
          <a href="{% url 'about:about' %}">
            <span>{% trans 'About us' %}</span>
          </a>
        </li>
        <li>
          <a href="{% url 'businesses:businesses' %}">
            <span>{% trans 'Businesses' %}</span>
          </a>
        </li>
        <li>
          <a href="{% url 'investorRelation:investorRelation' %}">
            <span>{% trans 'Investor Relations' %}</span>
          </a>
        </li>

        <li>
          <a href="{% url 'news:news_list' %}">
            <span>{% trans 'News' %}</span>
          </a>
        </li>

        <li>
          <a href="{% url 'sustainability:sustainability' %}">
            <span>{% trans 'Sustainability' %}</span>
          </a>
        </li>

        <li>
          <a href="{% url 'gallery:gallery_view' %}">
            <span>{% trans 'Media Center' %}</span>
          </a>
        </li>
        <li>
          <a href="{% url 'contact:contact' %}">
            <span>{% trans 'Contact' %}</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="dropdown-background"></div>
  </div>
</nav>

<div class="mobile-menu" id="mobile-menu">
  <div class="mobile-navbar">
    <ul>
      <li class="mobile-dropdown">
        <a href="{% url 'about:about' %}" class="mobile-dropdown-head">
          <span>{% trans 'About us' %}</span>
        </a>
      </li>

      <li class="mobile-dropdown">
        <a href="{% url 'businesses:businesses' %}" class="mobile-dropdown-head">
          <span>{% trans 'Businesses' %}</span>
        </a>
      </li>

      <li class="mobile-dropdown">
        <a href="{% url 'investorRelation:investorRelation' %}" class="mobile-dropdown-head">
          <span>{% trans 'Investor Relations' %}</span>
        </a>
      </li>

      <li>
        <a href="{% url 'news:news_list' %} " class="mobile-item">
          <span>{% trans 'News' %}</span>
        </a>
      </li>

      <li>
        <a href="{% url 'sustainability:sustainability' %}" class="mobile-item">
          <span>{% trans 'Sustainability' %}</span>
        </a>
      </li>
      <li>
        <a href="{% url 'gallery:gallery_view' %}" class="mobile-item">
          <span>{% trans 'Media Center' %}</span>
        </a>
      </li>
      <li>
        <a href="{% url 'contact:contact' %}" class="mobile-item">
          <span>{% trans 'Contact' %}</span>
        </a>
      </li>
    </ul>
  </div>
</div>


<a href="https://api.whatsapp.com/send?phone=41764944394" class="fixed-whatsapp" target="_blank">
      <img loading="lazy" class="whatsapp-icon" src="{% static 'images/whatsapp.svg' %}" alt="Whatsapp icon" />
</a>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const activeTab = "{{ active_tab|default:'' }}";
    if (activeTab) {
      const section = document.getElementById(activeTab);
      if (section) {
        section.scrollIntoView({ behavior: "smooth" });
      }
    }
  });
</script>